[Meta]

[Navigation]

[Footer]

[sitePicker]
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% component 'Meta' %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

    {% styles %}

    <link rel="stylesheet" href="{{ ['assets/scss/main.scss']|theme }}">

    {% framework turbo extras %}

    <script >
        addEventListener('page:visit', function() {
            document.getElementById('fwc-main-content').classList.remove('isLoaded');
        });

        addEventListener('page:updated', function() {
            setTimeout(function() {
                document.getElementById('fwc-main-content').classList.add('isLoaded');
            });
        });

        addEventListener('page:loaded', function() {
            document.getElementById('fwc-main-content').classList.add('isLoaded');
        }, { once: true });
    </script>

    {% scripts %}

    {{ meta.headerHtml | raw }}
</head>

{% set menuStyle = record.menuStyle %}

{% if not record.menuStyle %}
    {% set menuStyle = 'solid' %}
{% endif %}

<body class="Body--{{ menuStyle }}Nav" data-control="global">
    <div id="fwc-main-navigation">
        {% component 'Navigation' %}
    </div>

    <div id="fwc-main-content">
        {% page %}
    </div>

    <div id="fwc-main-footer">
        {% component 'Footer' %}
    </div>

    <div id="lightbox" class="Lightbox">
        <img src="#" class="Lightbox-image">
        <button class="Lightbox-close" data-lightbox-close>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </button>

        <button class="Lightbox-prev" data-lightbox-prev>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="15 18 9 12 15 6"></polyline>
            </svg>
        </button>

        <button class="Lightbox-next" data-lightbox-next>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
        </button>

        <div class="Lightbox-loader"></div>
    </div>

    <div id="turbo-consent" data-turbo-permanent></div>
</body>
</html>
