[Meta]

[Navigation]

[Footer]

[sitePicker]

[Popup]
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% component 'Meta' %}

    {% styles %}

    <style>
        {% placeholder addStyles %}
    </style>

    <link rel="stylesheet" href="{{ ['assets/scss/main.scss']|theme }}">

    {% framework turbo extras %}

    <script >
        addEventListener('page:visit', function() {
            document.getElementById('fwc-main-content').classList.remove('isLoaded');
        });

        addEventListener('page:updated', function() {
            setTimeout(function() {
                document.getElementById('fwc-main-content').classList.add('isLoaded');
            });
        });

        addEventListener('page:loaded', function() {
            document.getElementById('fwc-main-content').classList.add('isLoaded');
        }, { once: true });
    </script>

    {% scripts %}

    {{ meta.headerHtml | raw }}
</head>

{% set menuStyle = record.menuStyle %}

{% if not record.menuStyle %}
    {% set menuStyle = 'solid' %}
{% endif %}

<body class="Body--{{ menuStyle }}Nav" data-control="global">
    <div id="fwc-main-navigation">
        {% component 'Navigation' %}
    </div>

    <div id="fwc-main-content">
        {% page %}
    </div>

    <div id="fwc-main-footer">
        {% component 'Footer' %}
    </div>

    {% component 'Builder::lightbox' %}

    <div id="turbo-consent" data-turbo-permanent></div>

    {% if popupData %}
        {% component 'Popup' %}
    {% endif %}
</body>
</html>
